body{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color: rgb(97, 218, 251);
  background-color: rgb(40, 44, 52);
}
.header{
  height: 15vh;
  display: flex;
  padding: 10px;
  margin: 10px, 10px, 30px, 10px;
  justify-content: space-between;
}
.App-header {
  display: flex;
  flex-direction: no-wrap;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.signInText{
  padding: 10px;
  margin: 5px;
}

.quizDiv{
  justify-content: space-around;
  color: rgb(40, 44, 52);
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  background-color: rgb(231, 237, 248);
  top: 20%;
}

.Start-button{ 
  border-radius: 10px;  
  font-weight: 300;
  background: rgb(40, 44, 52);
  color: rgb(231, 237, 248);
  border:none;
  position:relative;
  height:45px;
  font-size:1.6em;
  cursor:pointer;
  transition:200ms ease all;
  outline:none;
  width: 200px;
}

.Start-button:hover{
  background: rgba(40, 44, 52, 0.13);
  color: rgb(40, 44, 52);
}

.welcome{
  justify-content: space-around;
  color: rgb(40, 44, 52);
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  background-color: rgb(231, 237, 248);
  top: 20%;
  text-align: center;
}

.QuestionContainer{
  width: 100%;
  border: 0px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.Question{
  font-size: calc(25px + 2vmin);
}
.questionNumber{
   margin: 30px 0px 0px 0px;
   font-weight: 100;
}
.questionNumber strong{
  font-size: 20px;
  padding-left: 10px;
}

ul.answer-options-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.answer-options{
  margin: 0px;
  min-height: 25vh;
  text-align: center;
  display: flex;
  list-style: none;
  flex-direction: column;
}

.answer-option{
  background: rgb(40, 44, 52);
  color: rgb(231, 237, 248);
  border:none;
  position:relative;
  height:45px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:600ms ease all;
  outline:none;
  width: 75vw;
}

.answer-option:hover{
  color: rgb(40, 44, 52);
  background: rgb(231, 237, 248);
}
.answer-option:before, .answer-option:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: rgb(40, 44, 52);
  transition: 800ms ease all;
}
.answer-option:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.answer-option:hover:before,.answer-option:hover:after{
  width:100%;
  transition:600ms ease all;
}
.answer-option{
 text-align: center;
 margin: 20px;
}

/*change this to .controls*/

.controls{
  width: 75 vw;
  padding: 30px 10px 30px 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  background-color: rgb(231, 237, 248);
}

.Next-Button:hover, .Restart-Button:hover, .Finish-Button:hover{
  background: rgba(40, 44, 52, 0.13);
  color: rgb(40, 44, 52);
}

.Next-Button, .Restart-Button, .Finish-Button{
  border-radius: 10px;  
  font-weight: 300;
  background: rgb(40, 44, 52);
  color: rgb(231, 237, 248);
  border:none;
  position:relative;
  height:45px;
  font-size:1.6em;
  cursor:pointer;
  transition:200ms ease all;
  outline:none;
  width: 200px;
}

.signIn {
  border: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  height: 40px;
}

.signIn:hover {
  cursor: pointer;
}

.title{
  padding: 10px;  

}

.Resources-area{
  padding: 20px;
}

.Resources-area li a{
  color: rgb(231, 237, 248);
}

.Resources-area li {
  padding: 10px;
  list-style: none;
}
.giphy-embed{
  position: fixed;
  width: 100px;
  height: 200px;
  margin-left: 10vw;
}
.giphy-embed3{
  position: fixed;
  top: 55px;
  width: 200px;
  height: 200px;
  margin-left: 15vw;
  
}
.giphy-embed2{
  position: fixed;
  top: 14px;
  width: 100px;
  height: 300px;
}
.Finish{
  display: flex;
  background: rgb(231, 237, 248);
  color:  rgb(40, 44, 52);
  flex-direction: column;
}

.Finish h2{ 
  margin-left: 10px;
}

.Finish h1{
  margin-left: 10px;
}


.Finish strong{
  font-size: 5em;
  margin-left: 10vw;
}
.signOut{
  background:  rgb(231, 237, 248);
  padding: 10px;
  box-shadow: none;
  border-radius: 5px;
  color: rgb(40, 44, 52);
  font-weight: 600;
  font-size: .7em;
  transition: 300ms ease-out;
}

.signOut:hover{
  background:  rgb(40, 44, 52);
  color: rgb(231, 237, 248);
}